{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
  {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class="col-6 offset-3">
            <h2 class="my-5 h2 text-center">{% trans "Set Password" %}</h2>
            <form method="post"
                  action="{% url 'account_set_password' %}"
                  class="password_set">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-primary btn-block"
                     type="submit"
                     name="action"
                     value="{% trans 'Set Password' %}"/>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock content %}
