{% extends "emails/base_email.html" %}

{% block content %}
<main>
  <div class="container">
    <div class="table-responsive text-nowrap">
      <h2>{{ header }}</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price (incl. Delivery)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in order.items.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a style='color: blue' href="{{ order_item.item.get_absolute_url }}"> {{ order_item.item.title }} </a></td>              
              <td>{{ order_item.item.get_final_price }}&euro;</td>
              <td>{{ order_item.quantity }}</td>
              <td>{{ order_item.get_total_item_price }}&euro;</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>{{ order.cart.get_total }}&euro;</b></td>
          </tr>
          <tr>
            <td colspan="5">
              <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock content %}