{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "My Cart" %}
{% endblock head_title %}
{% block content %}
  <main>
    <div class="container">
      <div class="table-responsive text-nowrap">
        <h2 class="my-5 h2 text-center">{% translate "Cart Summary" %}</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Item Title" %}</th>
              <th scope="col">{% translate "Price" %}</th>
              <th scope="col">{% translate "Quantity" %}</th>
              <th scope="col">{% translate "Total Item Price" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for order_item in order_items %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                  <a style="color: blue" href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.title }}</a>
                </td>
                <td>{{ order_item.item.get_final_price }}€</td>
                <td>
                  <a href="{% url 'order:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                  {{ order_item.quantity }}
                  {% if order_item.quantity < order_item.item.stock %}
                    <a href="{% url 'order:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                  {% endif %}
                </td>
                <td>
                  {% if order_item.item.discount_price %}
                    {{ order_item.item.get_final_price }}€
                    <span class="badge bg-primary">{% translate "Saving" %} {{ order_item.get_saving }}€</span>
                  {% else %}
                    {{ order_item.get_total_item_price }}€
                  {% endif %}
                  <a style="color: red;"
                     href="{% url 'order:remove-from-cart' order_item.item.slug %}">
                    <i class="fas fa-trash-alt float-right"></i>
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">{% translate "Your cart is empty" %}</td>
              </tr>
              <tr>
                <td colspan="5">
                  <a class="btn btn-primary float-right" href="{% url 'core:home' %}">{% translate "Continue shopping" %}</a>
                </td>
              </tr>
            {% endfor %}
            {% if order.get_total %}
              <tr>
                <td colspan="4">
                  <b>{% translate "Cart Total" %}</b>
                </td>
                <td>
                  <b>{{ order.get_total }}€</b>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <a class="btn btn-danger float-right ml-2"
                     href="{% url 'order:checkout' %}">{% translate "Proceed to checkout" %}</a>
                  <a class="btn btn-primary float-right" href="{% url 'core:home' %}">{% translate "Continue shopping" %}</a>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock content %}
