{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "My Cart" %}
{% endblock head_title %}
{% block content %}
  <main>
    <div class="container">
      <div class="table-responsive text-nowrap">
        <h2 class="my-5 h2 text-center">{% translate "Cart Summary" %}</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Item Title" %}</th>
              <th scope="col">{% translate "Price" %}</th>
              <th scope="col">{% translate "Quantity" %}</th>
              <th scope="col">{% translate "Total Item Price" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for order_item in order_items %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                  <a style="color: blue" href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.title }}</a>
                </td>
                <td>{{ order_item.item.get_final_price }}€</td>
                <td>
                  <a href="{% url 'order:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                  {{ order_item.quantity }}
                  {% if order_item.quantity < order_item.item.stock %}
                    <a href="{% url 'order:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                  {% endif %}
                </td>
                <td>
                  {% if order_item.item.discount_price %}
                    {{ order_item.item.get_final_price }}€
                    <span class="badge bg-primary">{% translate "Saving" %} {{ order_item.get_saving }}€</span>
                  {% else %}
                    {{ order_item.get_total_item_price }}€
                  {% endif %}
                  <a style="color: red;"
                     href="{% url 'order:remove-from-cart' order_item.item.slug %}">
                    <i class="fas fa-trash-alt float-right"></i>
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">{% translate "Your cart is empty" %}</td>
              </tr>
              <tr>
                <td colspan="5">
                  <a class="btn btn-primary float-right" href="{% url 'core:home' %}">{% translate "Continue shopping" %}</a>
                </td>
              </tr>
            {% endfor %}
            {% if order.get_total %}
              <tr>
                <td colspan="4">
                  <b>{% translate "Cart Total" %}</b>
                </td>
                <td>
                  <b>{{ order.get_total }}€</b>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <a class="btn btn-danger float-right ml-2"
                     href="{% url 'order:checkout' %}">{% translate "Proceed to checkout" %}</a>
                  <a class="btn btn-primary float-right" href="{% url 'core:home' %}">{% translate "Continue shopping" %}</a>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <b>{% blocktrans %}Learn more about <a class="badge badge-info" data-toggle="modal" data-target="#shippingModal">shipping</a> and <a class="badge badge-info" data-toggle="modal" data-target="#paymentModal">payment options</a>. Here is our <a class="badge badge-info" data-toggle="modal" data-target="#refundModal">refund policy.</a>{% endblocktrans %}</b>
      <!-- Modal -->
      <div class="modal fade"
           id="paymentModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="paymentModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{% trans "Available payment options" %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <i class="fab fa-paypal"></i> PayPal
                </li>
                <li class="list-group-item disabled">
                  <i class="fab fa-amazon-pay"></i> Amazon Pay (soon)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade"
           id="shippingModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="shippingModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{% trans "Shipping" %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                {% blocktrans %}
                The prices stated on the product pages include statutory VAT and other
                price components. The shipping costs will be clearly communicated to you 
                again in the shopping cart system and on the order page.
                The flat-rate shipping fee includes the statutory value-added tax.
                <br/>
                <br/>
                We currently ship <u>only in EU</u>.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
