{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head_title %}
  Checkout
{% endblock head_title %}
{% block content %}
  <main>
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">{% trans "Checkout Form" %}</h2>
      <div class="row">
        <div class="col-md-8 mb-1">
          <div class="card">
            <form method="post" class="card-body">
              {% csrf_token %}
              <div class="md-form">
                {{ form.errors }}
                {{ form.non_field_errors }}
              </div>
              <div class="md-form">
                {{ form.email.errors }}
                {{ form.email }}
                {{ form.email.label_tag }}
              </div>
              <h3 class="my-5 h3 text-center">{% trans "Shipping address" %}</h3>
              <div class="md-form">
                {{ form.shipping_name.errors }}
                {{ form.shipping_name }}
                <label for="id_shipping_name">{% trans "Full name" %}</label>
              </div>
              <div class="md-form">
                {{ form.shipping_street_address.errors }}
                {{ form.shipping_street_address }}
                <label for="id_shipping_street_address">{% trans "Street, house number" %}</label>
              </div>
              <div class="md-form">
                {{ form.shipping_apartment_address.errors }}
                {{ form.shipping_apartment_address }}
                <label for="id_shipping_apartment_address">{% trans "Apartment/company" %}</label>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="md-form">
                    {{ form.shipping_zip.errors }}
                    {{ form.shipping_zip }}
                    <label for="id_shipping_zip">{% trans "Zip code" %}</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="md-form">
                    {{ form.shipping_city.errors }}
                    {{ form.shipping_city }}
                    <label for="id_shipping_city">{% trans "City" %}</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="md-form">
                    {{ form.shipping_country.errors }}
                    {{ form.shipping_country }}
                    <label for="id_shipping_country">{% trans "Country" %}</label>
                  </div>
                </div>
              </div>
              <h3 class="my-5 h3 text-center">{% trans "Billing address" %}</h3>
              <div class="md-form">
                {{ form.billing_name.errors }}
                {{ form.billing_name }}
                <label for="id_billing_name">{% trans "Full name" %}</label>
              </div>
              <div class="md-form">
                {{ form.billing_street_address.errors }}
                {{ form.billing_street_address }}
                <label for="id_billing_street_address">{% trans "Street, house number" %}</label>
              </div>
              <div class="md-form">
                {{ form.billing_apartment_address.errors }}
                {{ form.billing_apartment_address }}
                <label for="id_billing_apartment_address">{% trans "Apartment/company" %}</label>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="md-form">
                    {{ form.billing_zip.errors }}
                    {{ form.billing_zip }}
                    <label for="id_billing_zip">{% trans "Zip code" %}</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="md-form">
                    {{ form.billing_city.errors }}
                    {{ form.billing_city }}
                    <label for="id_billing_city">{% trans "City" %}</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="md-form">
                    {{ form.billing_country.errors }}
                    {{ form.billing_country }}
                    <label for="id_billing_country">{% trans "Country" %}</label>
                  </div>
                </div>
              </div>
              {% if request.user.is_authenticated %}
                <div class="custom-control custom-checkbox mb-3">
                  {{ form.default.errors }}
                  {{ form.default }}
                  <label for="id_default">{% trans "Save for future use" %}</label>
                </div>
              {% endif %}
              <button class="btn btn-primary btn-lg btn-block" name="Submit" type="submit">{% trans "Continue to payment" %}</button>
            </form>
          </div>
        </div>
        <div class="col-md-4 mb-1">{% include "order_snippet.html" %}</div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="addressModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
      <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Order address" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              You have already indicated your address previously:
              <table class="table table-hover table-sm">
                <thead class="blue-text">
                  <tr>
                    <th scope="col">{% trans "Shipping address" %}</th>
                    <th scope="col">{% trans "Billing address" %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ order.address.shipping_name }}</td>
                    <td>{{ order.address.billing_name }}</td>
                  </tr>
                  <tr>
                    <td>{{ order.address.shipping_street_address }}</td>
                    <td>{{ order.address.billing_street_address }}</td>
                  </tr>
                  <tr>
                    <td>
                      {{ order.address.shipping_apartment_address }}
                    </td>
                    <td>
                      {{ order.address.billing_apartment_address }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ order.address.shipping_city }}
                    </td>
                    <td>
                      {{ order.address.billing_city }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ order.address.shipping_country }}
                    </td>
                    <td>
                      {{ order.address.billing_country }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ order.address.shipping_zip }}
                    </td>
                    <td>
                      {{ order.address.billing_zip }}
                    </td>
                  </tr>
                </tbody>
              </table>
              {% trans "Do you wish to use it for this order?" %}
            </p>
          </div>
          <div class="modal-footer">
            <a href="{% url "payment:payment" %}">
              <button type="button" class="btn btn-primary">
                {% trans "Yes, continue to payment" %}
              </button>
            </a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              {% trans "No, I will give another address" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
{% block extra_body %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  {{ order_has_address|json_script:"address" }}
  <script>
  $( document ).ready(function() {
    var address = JSON.parse(document.getElementById("address").textContent);
    if (address) {
      $("#addressModal").modal("show");
    }
  });
  </script>
  <script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&currency={{ currency }}" async></script>
{% endblock extra_body %}
