{% load i18n %}

<footer class="page-footer container-fluid text-center font-big mt-4 wow fadeIn">
  <hr class="my-4">
  <div class="row">
    <div class="col-md-4 footer">
      <a class="footer-link" href="/impressum/">Impressum</a>
      <br>
      <a class="footer-link" href="/data-protection/">{% translate "Data Protection" %}</a>
      <br>
    </div>
    <div class="col-md-4 footer">
      Jetzt ist die beste Zeit
      <br>
      Lustgartenstr. 6
      <br>
      68526
      <br>
      {% translate "Germany" %}
      <br>
    </div>
    <div class="col-md-4 footer">
      Telephone: <a class="text-nowrap" href="tel:+49620313014">+49 (0) 6203 13014</a>
      <br>
      Email: <a class="text-nowrap" href="mailto:mail@drantusi@web.de">drantusi@web.de</a>
      <br>
    </div>
  </div>
  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/spielzeugauktion" target="_blank">
      <i class="fab fa-facebook-f mr-3 fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/ladenburger_spielzeugauktion/" target="_blank">
      <i class="fab fa-instagram mr-3 fa-2x"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2022 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
  </div>
  <!--/.Copyright-->
</footer>