{% load i18n %}
<footer class="page-footer container-fluid text-center font-big mt-4 wow fadeIn">
  <hr class="my-4"/>
  <div class="row">
    <div class="col-md-4 footer">
      <a class="footer-link" href="{% url 'core:impressum' %}">Impressum</a>
      <br/>
      <a class="footer-link" href="{% url 'core:data-protection' %}">{% translate "Data Protection" %}</a>
      <br/>
      <a class="footer-link" href="#refundModal" data-toggle="modal">{% translate "Refund policy" %}</a>
      <br/>
      <a class="footer-link" href="https://github.com/Nelfimov/django-eshop">
        {% translate "Source code" %}
        <i class="fab fa-github"></i>
      </a>
      <br/>
      <a class="footer-link" href="{% url "core:api-doc" %}">API</a>
    </div>
    <div class="col-md-4 footer">
      Jetzt ist die beste Zeit
      <br/>
      Lustgartenstr. 6
      <br/>
      68526
      <br/>
      {% translate "Germany" %}
      <br/>
    </div>
    <div class="col-md-4 footer">
      Telephone: <a class="text-nowrap" href="tel:+49620313014">+49 (0) 6203 13014</a>
      <br/>
      Email: <a class="text-nowrap" href="mailto:mail@drantusi@web.de">drantusi@web.de</a>
      <br/>
    </div>
  </div>
  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/spielzeugauktion" target="_blank">
      <i class="fab fa-facebook-f mr-3 fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/ladenburger_spielzeugauktion/"
       target="_blank">
      <i class="fab fa-instagram mr-3 fa-2x"></i>
    </a>
  </div>
  <!-- Social icons -->
  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2022 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">MDBootstrap.com</a>
  </div>
  <!--/.Copyright-->
</footer>
<div class="modal fade"
     id="refundModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="refundModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Refund policy" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% blocktrans %}
   You have the right to withdraw from this contract within fourteen days without giving any reason. 
   The cancellation period is fourteen (14) days from the day on which you or a third party named by you who is 
   not the carrier took possession of the goods. The goods must be new, in their original condition and unused. 
   In order to exercise your right of withdrawal, you must inform us of your decision to withdraw from this contract 
   by means of a clear statement (e.g. a letter sent by post, fax or e-mail. Or if you are authorized on our website - to use Refund form). 
   To meet the cancellation deadline, it is sufficient for you to send the communication regarding your exercise of the right of 
   cancellation before the cancellation period has expired.
   <br/> <br/>
   If you revoke this contract, we have to repay all payments that we have received from you, excluding the delivery costs, 
   immediately and at the latest within fourteen days from the day on which we received the notification of your revocation 
   of this contract. For this repayment, we use the same means of payment that you used in the original transaction, unless something 
   else was expressly agreed with you; under no circumstances will you be charged fees for this repayment. 
   We may refuse repayment until we have received the goods back or until you have provided proof that you have returned the goods, 
   whichever is earlier. You must return or hand over the goods to us immediately and in any case no later than fourteen (14) days 
   from the day on which you inform us of the cancellation of this contract. 
   The deadline is met if you send back the goods before the period of fourteen (14) days has expired. 
   You bear the direct costs of returning the goods.
   You are only liable for any diminished value of the goods resulting from the handling other than what is 
   necessary to establish the nature, characteristics and functioning of the goods.
   {% endblocktrans %}
      </div>
    </div>
  </div>
</div>
