{% extends "base.html" %}
{% load i18n %}
{% load embed_video_tags %}
{% block head_title %}
  {{ object.title }}
{% endblock head_title %}
{% block extra_scripts %}
  <script>
    function magnify(imgID, zoom) {
      var img, glass, w, h, bw;
      img = document.getElementById(imgID);
      /*create magnifier glass:*/
      glass = document.createElement("DIV");
      glass.setAttribute("class", "img-magnifier-glass");
      /*insert magnifier glass:*/
      img.parentElement.insertBefore(glass, img);
      /*set background properties for the magnifier glass:*/
      glass.style.backgroundImage = "url('" + img.src + "')";
      glass.style.backgroundRepeat = "no-repeat";
      glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
      bw = 3;
      w = glass.offsetWidth / 2;
      h = glass.offsetHeight / 2;
      /*execute a function when someone moves the magnifier glass over the image:*/
      glass.addEventListener("mousemove", moveMagnifier);
      img.addEventListener("mousemove", moveMagnifier);
      /*and also for touch screens:*/
      glass.addEventListener("touchmove", moveMagnifier);
      img.addEventListener("touchmove", moveMagnifier);
      function moveMagnifier(e) {
        var pos, x, y;
        /*prevent any other actions that may occur when moving over the image*/
        e.preventDefault();
        /*get the cursor's x and y positions:*/
        pos = getCursorPos(e);
        x = pos.x;
        y = pos.y;
        /*prevent the magnifier glass from being positioned outside the image:*/
        if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
        if (x < w / zoom) {x = w / zoom;}
        if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
        if (y < h / zoom) {y = h / zoom;}
        /*set the position of the magnifier glass:*/
        glass.style.left = (x - w) + "px";
        glass.style.top = (y - h) + "px";
        /*display what the magnifier glass "sees":*/
        glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
      }
      function getCursorPos(e) {
        var a, x = 0, y = 0;
        e = e || window.event;
        /*get the x and y positions of the image:*/
        a = img.getBoundingClientRect();
        /*calculate the cursor's x and y coordinates, relative to the image:*/
        x = e.pageX - a.left;
        y = e.pageY - a.top;
        /*consider any page scrolling:*/
        x = x - window.pageXOffset;
        y = y - window.pageYOffset;
        return {x : x, y : y};
      }
    }
  </script>
{% endblock extra_scripts %}
{% block extra_head %}
  <style>
    * {box-sizing: border-box;}

    .img-magnifier-container {
      position:relative;
    }
    
    .img-magnifier-glass {
      position: absolute;
      border: 3px solid #000;
      border-radius: 50%;
      cursor: none;
      /*Set the size of the magnifier glass:*/
      width: 150px;
      height: 150px;
    }
  </style>
{% endblock extra_head %}
{% block content %}
  <main class="mt-1 pt-1">
    <div class="container dark-grey-text mt-5">
      <h2 class="my-5 h2 text-center">{{ object.title }}</h2>
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <div class="img-magnifier-container">
            <img src="{{ object.title_image.url }}"
                 class="img-fluid"
                 alt="Title image of product"
                 id="title-img"/>
            <script>magnify("title-img", 2);</script>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
              <span class="badge purple mr-1">{{ object.category|safe }}</span>
            </div>
            <p class="lead">
              <h4 class="font-weight-bold blue-text">
                <strong>
                  {% if object.discount_price %}
                    <span class="mr-1">
                      <h4 class="font-weight-bold text-danger">
                        <del>{{ object.price|add:object.delivery_price }}€</del>
                      </h4>
                    </span>
                    <span>{{ object.get_final_price }}€</span>
                  {% else %}
                    <span>{{ object.get_final_price }}€</span>
                  {% endif %}
                </strong>
              </h4>
            </p>
            <p class="font-italic">{% translate "Including delivery cost" %}: {{ object.delivery_price }}€</p>
            <p class="lead font-weight-bold">{% translate "Description" %}</p>
            <p>{{ object.description }}</p>
            {% if object.stock != 0 %}
              <p class="font-italic">{% translate "On stock left" %}: {{ object.stock }}</p>
              <a href="{{ object.get_add_to_cart_url }}"
                 class="btn btn-primary btn-md my-0 p">
                {% translate "Add to cart" %}
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a href="{{ object.get_remove_from_cart_url }}"
                 class="btn btn-danger btn-md my-0 p">
                {% translate "Remove from cart" %}
              </a>
            {% else %}
              <p class="font-weight-bold red-text">{% translate "On stock left" %}: {{ object.stock }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <hr/>
      <div class="row d-flex justify-content-center wow fadeIn">
        {% if object.additional_information %}
          <div class="col-md-6 text-center">
            <h4 class="my-4 h4">{% translate "Additional information" %}</h4>
            <p>{{ object.additional_information }}</p>
          </div>
        {% endif %}
      </div>
      {% if object.images.all %}
        <div class="container">
          <div class="row photos">
            {% for image in object.images.all %}
              <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ image.image.url }}" data-lightbox="photos">
                  <img class="img-fluid"
                       src="{{ image.image.url }}"
                       alt="Additional product images"/>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if object.item_video %}
        <hr/>
        <div class="embed-responsive embed-responsive-16by9">{% video object.item_video 'huge' %}</div>
      {% endif %}
    </div>
  </main>
{% endblock content %}
